body::before {
  display: block;
  content: '';
  height: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.links {
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}

.list-group-flush {
  border-radius: 15px;
}

.custom__mb-4rem {
  margin-bottom: 4rem;
}

.custom__w-70 {
  width: 75%;
}

.custom__color {
  color: #0d6efd;
}

.custom__bg-cute {
  background-color: #0A3981;
}

.custom__bg-middle-light {
  background-color: #1F509A;
}

.custom__bg-dark-blue {
  background-color: #091057;
}

.custom__bg-light {
  background-color: #D4EBF8;
}

.custom__bg-laravel {
  /* background-color: #842b2b; */
  background-color: #000;
}

.card {
  height: 100%; /* Faz os cartões ocuparem a mesma altura */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Distribui espaço uniformemente */
}

.card-img {
  max-height: 150px; /* Ajusta a altura máxima das imagens */
  object-fit: contain; /* Garante que a imagem mantenha proporções */
}


@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}